#### 1) Write a python program to display all the header tags from wikipedia.org.

In [1104]:
import  requests
from  bs4 import BeautifulSoup

url = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(url.text, 'html.parser')
story = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
for i in story:
    print(i)

<h1 class="firstHeading" id="firstHeading">Main Page</h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>
<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

In [1105]:
len(story)

22

#### 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [1106]:
import  requests
from  bs4 import BeautifulSoup
names=[]
url = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
soup50 = BeautifulSoup(url.text, 'html.parser')
for i in soup50.find_all('h3', class_="lister-item-header"):
    names.append(i.text.replace("\n","").split(".")[1][:-6])

In [1107]:
names

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather: Part II',
 '12 Angry Men',
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 "Schindler's List",
 'Inception',
 'Fight Club',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Il buono, il brutto, il cattivo',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 'Goodfellas',
 'Star Wars: Episode V - The Empire Strikes Back',
 "One Flew Over the Cuckoo's Nest",
 'Gisaengchung',
 'Interstellar',
 'Cidade de Deus',
 'Sen to Chihiro no kamikakushi',
 'Saving Private Ryan',
 'The Green Mile',
 'La vita è bella',
 'Se7en',
 'The Silence of the Lambs',
 'Star Wars',
 'Seppuku',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 'Whiplash',
 'The Intouchables',
 'The Prestige',
 'The Departed',
 'The Pianist',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'Léon',
 'The Lion King',
 'Terminator 2: Judgment Day',
 'Nuovo Cinema Paradiso',
 'Hotaru no haka',
 'Back to the Future',
 'Once Upon a Time in the West',
 'Psycho',
 'Rear Window',
 'Casablanca',
 'Modern Times']

In [1108]:
import  requests
from  bs4 import BeautifulSoup
url = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')
soup100 = BeautifulSoup(url.text, 'html.parser')
for i in soup100.find_all('h3', class_="lister-item-header"):
    names.append(i.text.replace("\n","").split('.',)[1])

In [1109]:
names

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather: Part II',
 '12 Angry Men',
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 "Schindler's List",
 'Inception',
 'Fight Club',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Il buono, il brutto, il cattivo',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 'Goodfellas',
 'Star Wars: Episode V - The Empire Strikes Back',
 "One Flew Over the Cuckoo's Nest",
 'Gisaengchung',
 'Interstellar',
 'Cidade de Deus',
 'Sen to Chihiro no kamikakushi',
 'Saving Private Ryan',
 'The Green Mile',
 'La vita è bella',
 'Se7en',
 'The Silence of the Lambs',
 'Star Wars',
 'Seppuku',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 'Whiplash',
 'The Intouchables',
 'The Prestige',
 'The Departed',
 'The Pianist',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'Léon',
 'The Lion King',
 'Terminator 2: Judgment Day',
 'Nuovo Cinema Paradiso',
 'Hotaru no haka',
 'Back to the Future',
 'Once Upon a Time in the West',
 'Psycho',
 'Rear Window',
 'Casablanca',
 'Modern Times',
 'City Lights(1931)',
 'Hamilton(2020)',
 'Capharnaüm(2018)',
 'Joker(2019)',
 'Kimi no na wa',
 'Spider-Man: Into the Spider-Verse(2018)',
 'Avengers: Endgame(2019)',
 'Avengers: Infinity War(2018)',
 'Coco(I) (2017)',
 'Django Unchained(2012)',
 'The Dark Knight Rises(2012)',
 '3 Idiots(2009)',
 'Taare Zameen Par(2007)',
 'WALL·E(2008)',
 'The Lives of Others(2006)',
 'Oldeuboi(2003)',
 'Memento(2000)',
 'Mononoke-hime(1997)',
 'Raiders of the Lost Ark(1981)',
 'The Shining(1980)',
 'Apocalypse Now(1979)',
 'Alien(1979)',
 'Tengoku to jigoku(1963)',
 'Dr',
 'Witness for the Prosecution(1957)',
 'Paths of Glory(1957)',
 'Sunset Blvd',
 'The Great Dictator(1940)',
 'Jagten(2012)',
 'Inglourious Basterds(2009)',
 'Eternal Sunshine of the Spotless Mind(2004)',
 'Requiem for a Dream(2000)',
 'American Beauty(1999)',
 'Good Will Hunting(1997)',
 'Toy Story(1995)',
 'Braveheart(1995)',
 'Reservoir Dogs(1992)',
 'Idi i smotri(1985)',
 'Aliens(1986)',
 'Once Upon a Time in America(1984)',
 'Amadeus(1984)',
 'Star Wars: Episode VI - Return of the Jedi(1983)',
 'Das Boot(1981)',
 '2001: A Space Odyssey(1968)',
 'North by Northwest(1959)',
 'Vertigo(1958)',
 "Singin' in the Rain(1952)",
 'Ladri di biciclette(1948)',
 'Citizen Kane(1941)',
 'M - Eine Stadt sucht einen Mörder(1931)']

In [1110]:
len(names)

100

In [1111]:
Ratings=[]
for i in soup50.find_all('div',class_="inline-block ratings-imdb-rating"):
    Ratings.append(i.text.replace("\n",""))

In [1112]:
Ratings

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5']

In [1113]:
for i in soup100.find_all('div',class_="inline-block ratings-imdb-rating"):
    Ratings.append(i.text.replace("\n",""))

In [1114]:
Ratings

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [1115]:
len(Ratings)

100

In [1116]:
yor=[]
for i in soup50.find_all('span',class_='lister-item-year text-muted unbold'):
    yor.append(i.text)

In [1117]:
for i in soup100.find_all('span',class_='lister-item-year text-muted unbold'):
    yor.append(i.text)

In [1118]:
len(yor)

100

In [1119]:
import pandas as pd
Imdb_top100=pd.DataFrame({"movieeName":names,"Ratings":Ratings,"Year_Of_Release":yor})
Imdb_top100

                                           movieeName Ratings Year_Of_Release
0                            The Shawshank Redemption     9.3          (1994)
1                                       The Godfather     9.2          (1972)
2                                     The Dark Knight     9.0          (2008)
3                              The Godfather: Part II     9.0          (1974)
4                                        12 Angry Men     9.0          (1957)
5       The Lord of the Rings: The Return of the King     8.9          (2003)
6                                        Pulp Fiction     8.9          (1994)
7                                    Schindler's List     8.9          (1993)
8                                           Inception     8.8          (2010)
9                                          Fight Club     8.8          (1999)
10  The Lord of the Rings: The Fellowship of the Ring     8.8          (2001)
11                                       Forrest Gump     8.8          (1994)
12                    Il buono, il brutto, il cattivo     8.8          (1966)
13              The Lord of the Rings: The Two Towers     8.7          (2002)
14                                         The Matrix     8.7          (1999)
15                                         Goodfellas     8.7          (1990)
16     Star Wars: Episode V - The Empire Strikes Back     8.7          (1980)
17                    One Flew Over the Cuckoo's Nest     8.7          (1975)
18                                       Gisaengchung     8.6          (2019)
19                                       Interstellar     8.6          (2014)
20                                     Cidade de Deus     8.6          (2002)
21                      Sen to Chihiro no kamikakushi     8.6          (2001)
22                                Saving Private Ryan     8.6          (1998)
23                                     The Green Mile     8.6          (1999)
24                                    La vita è bella     8.6          (1997)
25                                              Se7en     8.6          (1995)
26                           The Silence of the Lambs     8.6          (1991)
27                                          Star Wars     8.6          (1977)
28                                            Seppuku     8.6          (1962)
29                               Shichinin no samurai     8.6          (1954)
..                                                ...     ...             ...
70                               Apocalypse Now(1979)     8.4          (1979)
71                                        Alien(1979)     8.4          (1979)
72                            Tengoku to jigoku(1963)     8.4          (1963)
73                                                 Dr     8.4          (1964)
74                  Witness for the Prosecution(1957)     8.4          (1957)
75                               Paths of Glory(1957)     8.4          (1957)
76                                        Sunset Blvd     8.4          (1950)
77                           The Great Dictator(1940)     8.4          (1940)
78                                       Jagten(2012)     8.3          (2012)
79                         Inglourious Basterds(2009)     8.3          (2009)
80        Eternal Sunshine of the Spotless Mind(2004)     8.3          (2004)
81                          Requiem for a Dream(2000)     8.3          (2000)
82                              American Beauty(1999)     8.3          (1999)
83                            Good Will Hunting(1997)     8.3          (1997)
84                                    Toy Story(1995)     8.3          (1995)
85                                   Braveheart(1995)     8.3          (1995)
86                               Reservoir Dogs(1992)     8.3          (1992)
87                                 Idi i smotri(1985)     8.3          (1985)
88                                       Aliens(1986)     8.3          (1986)
89                  Once Upon a Time in America(1984)     8.3          (1984)
90                                      Amadeus(1984)     8.3          (1984)
91   Star Wars: Episode VI - Return of the Jedi(1983)     8.3          (1983)
92                                     Das Boot(1981)     8.3          (1981)
93                        2001: A Space Odyssey(1968)     8.3          (1968)
94                           North by Northwest(1959)     8.3          (1959)
95                                      Vertigo(1958)     8.3          (1958)
96                          Singin' in the Rain(1952)     8.3          (1952)
97                          Ladri di biciclette(1948)     8.3          (1948)
98                                 Citizen Kane(1941)     8.3          (1941)
99            M - Eine Stadt sucht einen Mörder(1931)     8.3          (1931)

[100 rows x 3 columns]

In [1120]:
Imdb_top100.Year_Of_Release=[i[1:-1] for i in Imdb_top100.Year_Of_Release]

In [1121]:
Imdb_top100

                                           movieeName Ratings Year_Of_Release
0                            The Shawshank Redemption     9.3            1994
1                                       The Godfather     9.2            1972
2                                     The Dark Knight     9.0            2008
3                              The Godfather: Part II     9.0            1974
4                                        12 Angry Men     9.0            1957
5       The Lord of the Rings: The Return of the King     8.9            2003
6                                        Pulp Fiction     8.9            1994
7                                    Schindler's List     8.9            1993
8                                           Inception     8.8            2010
9                                          Fight Club     8.8            1999
10  The Lord of the Rings: The Fellowship of the Ring     8.8            2001
11                                       Forrest Gump     8.8            1994
12                    Il buono, il brutto, il cattivo     8.8            1966
13              The Lord of the Rings: The Two Towers     8.7            2002
14                                         The Matrix     8.7            1999
15                                         Goodfellas     8.7            1990
16     Star Wars: Episode V - The Empire Strikes Back     8.7            1980
17                    One Flew Over the Cuckoo's Nest     8.7            1975
18                                       Gisaengchung     8.6            2019
19                                       Interstellar     8.6            2014
20                                     Cidade de Deus     8.6            2002
21                      Sen to Chihiro no kamikakushi     8.6            2001
22                                Saving Private Ryan     8.6            1998
23                                     The Green Mile     8.6            1999
24                                    La vita è bella     8.6            1997
25                                              Se7en     8.6            1995
26                           The Silence of the Lambs     8.6            1991
27                                          Star Wars     8.6            1977
28                                            Seppuku     8.6            1962
29                               Shichinin no samurai     8.6            1954
..                                                ...     ...             ...
70                               Apocalypse Now(1979)     8.4            1979
71                                        Alien(1979)     8.4            1979
72                            Tengoku to jigoku(1963)     8.4            1963
73                                                 Dr     8.4            1964
74                  Witness for the Prosecution(1957)     8.4            1957
75                               Paths of Glory(1957)     8.4            1957
76                                        Sunset Blvd     8.4            1950
77                           The Great Dictator(1940)     8.4            1940
78                                       Jagten(2012)     8.3            2012
79                         Inglourious Basterds(2009)     8.3            2009
80        Eternal Sunshine of the Spotless Mind(2004)     8.3            2004
81                          Requiem for a Dream(2000)     8.3            2000
82                              American Beauty(1999)     8.3            1999
83                            Good Will Hunting(1997)     8.3            1997
84                                    Toy Story(1995)     8.3            1995
85                                   Braveheart(1995)     8.3            1995
86                               Reservoir Dogs(1992)     8.3            1992
87                                 Idi i smotri(1985)     8.3            1985
88                                       Aliens(1986)     8.3            1986
89                  Once Upon a Time in America(1984)     8.3            1984
90                                      Amadeus(1984)     8.3            1984
91   Star Wars: Episode VI - Return of the Jedi(1983)     8.3            1983
92                                     Das Boot(1981)     8.3            1981
93                        2001: A Space Odyssey(1968)     8.3            1968
94                           North by Northwest(1959)     8.3            1959
95                                      Vertigo(1958)     8.3            1958
96                          Singin' in the Rain(1952)     8.3            1952
97                          Ladri di biciclette(1948)     8.3            1948
98                                 Citizen Kane(1941)     8.3            1941
99            M - Eine Stadt sucht einen Mörder(1931)     8.3            1931

[100 rows x 3 columns]

In [1122]:
Imdb_top100.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
movieeName         100 non-null object
Ratings            100 non-null object
Year_Of_Release    100 non-null object
dtypes: object(3)
memory usage: 2.4+ KB

#### 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [1123]:
url = requests.get('https://www.imdb.com/india/top-rated-indian-movies/?sort=ir,desc&mode=simple&page=1')
soup = BeautifulSoup(url.text, 'html.parser')
title=[]
for i in soup.find_all('td',class_='titleColumn'):
   title.append( i.text.replace("\n",'').replace(" ","")[2:].replace(".","")[:-6])

In [1124]:
title

['JaiBhim',
 'Nayakan',
 'PariyerumPerumal',
 'AnbeSivam',
 'SardarUdham',
 'C/oKancharapalem',
 'Kireedam',
 'Manichitrathazhu',
 'Golmaal',
 'ApurSansar',
 'Natsamrat',
 'ThevarMagan',
 'KumbalangiNights',
 'BlackFriday',
 '96',
 'PatherPanchali',
 '#Home',
 'SooraraiPottru',
 'Visaaranai',
 'Jersey',
 '3Idiots',
 'Asuran',
 'TaareZameenPar',
 'Kaithi',
 'Thalapathi',
 'SarpattaParambarai',
 'Drishyam2',
 'Devasuram',
 'Dangal',
 'Peranbu',
 'VadaChennai',
 'Chithram',
 'Aparajito',
 'JaaneBhiDoYaaro',
 'Pyaasa',
 'ThaniOruvan',
 'Guide',
 'Ratsasan',
 'Spadikam',
 'Iruvar',
 'KannathilMuthamittal',
 'AgentSaiSrinivasaAthreya',
 'ChupkeChupke',
 'SuperDeluxe',
 'Mahanati',
 'Aruvi',
 'PudhuPettai',
 'KhoslaKaGhosla!',
 'Drishyam',
 'Anniyan',
 'Tumbbad',
 'KaakkaaMuttai',
 'Premam',
 'Mudhalvan',
 'VikramVedha',
 'BangaloreDays',
 'Papanasam',
 'Satya',
 'Angoor',
 'SoodhuKavvum',
 'DhuruvangalPathinaaru',
 'Mandela',
 'Andhadhun',
 'Pithamagan',
 'Shahid',
 'Jigarthanda',
 'GangsofWasseypur',
 'Anand',
 'PaanSinghTomar',
 'Sairat',
 'BhaagMilkhaBhaag',
 'MaheshintePrathikaaram',
 'HeraPheri',
 'Sholay',
 'TheeranAdhigaaramOndru',
 'Swades:We,thePeople',
 'UstadHotel',
 'ChakDe!India',
 'Talvar',
 'Mughal-E-Azam',
 'Chhichhore',
 'Black',
 'JoJeetaWohiSikandar',
 'ZindagiNaMilegiDobara',
 'Baasha',
 'Charulata',
 'NilBatteySannata',
 'Article15',
 'Virumandi',
 'Drishyam',
 'Udaan',
 'AWednesday',
 'AlaiPayuthey',
 'Masaan',
 'MunnaBhaiMBBS',
 'Sarfarosh',
 'Queen',
 'Roja',
 'DilChahtaHai',
 '0OMG:OhMyGod!',
 '1RangDeBasanti',
 '2Uri:TheSurgicalStrike',
 '3Lagaan:OnceUponaTimeinIndia',
 '4Kahaani',
 '5AndazApnaApna',
 '6PK',
 '7Lucia',
 '8Bommarillu',
 '9TheLegendofBhagatSingh',
 '0Iqbal',
 '1Barfi!',
 '2Section375',
 '3Indian',
 '4Bombay',
 '5Maqbool',
 '6Pink',
 '7TheGreatIndianKitchen',
 '8Thadam',
 '9Omkara',
 '0Kshanam',
 '1PelliChoopulu',
 '2LageRahoMunnaBhai',
 '3Shershaah',
 '4Baahubali2:TheConclusion',
 '5Rangasthalam',
 '6PranchiyettanandtheSaint',
 '7NaduvulaKonjamPakkathaKaanom',
 '8Deewaar',
 '9Athadu',
 '0Evaru',
 '1Padayappa',
 '2Padosan',
 '3Gulaal',
 '4ThondimuthalumDhriksakshiyum',
 '5DilwaleDulhaniaLeJayenge',
 '6TakeOff',
 '7Haider',
 '8Maanagaram',
 '9KGF:Chapter1',
 '0Aadukalam',
 '1VaaranamAayiram',
 '2BaisheSrabon',
 '3Ugly',
 '4UlidavaruKandanthe',
 '5MotherIndia',
 '6SpecialChabbis',
 '7Nayattu',
 '8ShipofTheseus',
 '9Badhaaiho',
 '0BajrangiBhaijaan',
 '1DevD',
 '2Jalsaghar',
 '3DeivaThirumagal',
 '4Karnan',
 '5Vaastav:TheReality',
 '6KirikParty',
 '7Vedam',
 '8Mukkabaaz',
 '9GullyBoy',
 '0AnkhonDekhi',
 '1Company',
 '2Manjhi:TheMountainMan',
 '3Pizza',
 '4Charlie',
 '5Memories',
 '6ArjunReddy',
 '7Malik',
 '8PooveUnakkaga',
 '9MyNameIsKhan',
 '0AyyappanumKoshiyum',
 '1DilBechara',
 '2JabWeMet',
 '3KalHoNaaHo',
 '4Border',
 '5VinnaithaandiVaruvaayaa',
 '6MumbaiPolice',
 '7KaakhaKaakha:ThePolice',
 '8Super30',
 '9ThulladhaManamumThullum',
 '0AngamalyDiaries',
 '1Sonchiriya',
 '2UnnaipolOruvan',
 '3AnjaamPathiraa',
 '4HeyRam',
 '5Bãhubali:TheBeginning',
 '6Lakshya',
 '7VettaiyaaduVilaiyaadu',
 '8Padman',
 '9Dor',
 '0Baby',
 '1Airlift',
 '2HindiMedium',
 '3Okkadu',
 '4EnglishVinglish',
 '5Gangaajal',
 '6Manam',
 '7TheLunchbox',
 '8JohnnyGaddaar',
 '9MSDhoni:TheUntoldStory',
 '0AbTakChhappan',
 '1AayirathilOruvan',
 '2Pokiri',
 '3Joji',
 '4Goodachari',
 '5Badla',
 '6SecretSuperstar',
 '7Nayak:TheRealHero',
 '8StanleyKaDabba',
 '9VickyDonor',
 '0RangiTaranga',
 '1MrIndia',
 '2Raazi',
 '3Mimi',
 '4Don',
 '5VelaiillaPattadhari',
 '6UdtaPunjab',
 '7Ko',
 '8Thuppakki',
 '9Aligarh',
 '0Veer-Zaara',
 '1RockOn!!',
 '2Dasvidaniya',
 '3Kaththi',
 '4Arya',
 '5Guru',
 '6Kaipoche!',
 '7Samsara',
 '8Ghilli',
 '924',
 '0OyeLucky!LuckyOye!',
 '1Rockstar',
 '2Eega',
 '3AvaneSrimannarayana',
 '4MumbaiMeriJaan',
 '5Kushi',
 '6Ugramm',
 '7Sir',
 '8KabhiHaanKabhiNaa',
 '9Darr',
 '0TheTashkentFiles',
 '1Kapoor&Sons',
 '2Newton',
 '3CUSoon',
 '4Aamir',
 '5Earth',
 '6DetectiveByomkeshBakshy!',
 '7MadrasCafe',
 '8Agneepath',
 '9Sarkar',
 '0StateofSiege:TempleAttack']

In [1125]:
len(title)

250

In [1126]:
yor=[]
for i in soup.find_all('span',class_='secondaryInfo'):
   yor.append( i.text.replace("(","").replace(")",""))

In [1127]:
yor

['2021',
 '1987',
 '2018',
 '2003',
 '2021',
 '2018',
 '1989',
 '1993',
 '1979',
 '1959',
 '2016',
 '1992',
 '2019',
 '2004',
 '2018',
 '1955',
 '2021',
 '2020',
 '2015',
 '2019',
 '2009',
 '2019',
 '2007',
 '2019',
 '1991',
 '2021',
 '2021',
 '1993',
 '2016',
 '2018',
 '2018',
 '1988',
 '1956',
 '1983',
 '1957',
 '2015',
 '1965',
 '2018',
 '1995',
 '1997',
 '2002',
 '2019',
 '1975',
 '2019',
 '2018',
 '2016',
 '2006',
 '2006',
 '2013',
 '2005',
 '2018',
 '2014',
 '2015',
 '1999',
 '2017',
 '2014',
 '2015',
 '1998',
 '1982',
 '2013',
 '2016',
 '2021',
 '2018',
 '2003',
 '2012',
 '2014',
 '2012',
 '1971',
 '2012',
 '2016',
 '2013',
 '2016',
 '2000',
 '1975',
 '2017',
 '2004',
 '2012',
 '2007',
 '2015',
 '1960',
 '2019',
 '2005',
 '1992',
 '2011',
 '1995',
 '1964',
 '2015',
 '2019',
 '2004',
 '2015',
 '2010',
 '2008',
 '2000',
 '2015',
 '2003',
 '1999',
 '2013',
 '1992',
 '2001',
 '2012',
 '2006',
 '2019',
 '2001',
 '2012',
 '1994',
 '2014',
 '2013',
 '2006',
 '2002',
 '2005',
 '2012',
 '2019',
 '1996',
 '1995',
 '2003',
 '2016',
 '2021',
 '2019',
 '2006',
 '2016',
 '2016',
 '2006',
 '2021',
 '2017',
 '2018',
 '2010',
 '2012',
 '1975',
 '2005',
 '2019',
 '1999',
 '1968',
 '2009',
 '2017',
 '1995',
 '2017',
 '2014',
 '2017',
 '2018',
 '2011',
 '2008',
 '2011',
 '2013',
 '2014',
 '1957',
 '2013',
 '2021',
 '2012',
 '2018',
 '2015',
 '2009',
 '1958',
 '2011',
 '2021',
 '1999',
 '2016',
 '2010',
 '2017',
 '2019',
 '2013',
 '2002',
 '2015',
 '2012',
 '2015',
 '2013',
 '2017',
 '2021',
 '1996',
 '2010',
 '2020',
 '2020',
 '2007',
 '2003',
 '1997',
 '2010',
 '2013',
 '2003',
 '2019',
 '1999',
 '2017',
 '2019',
 '2009',
 '2020',
 '2000',
 '2015',
 '2004',
 '2006',
 '2018',
 '2006',
 '2015',
 '2016',
 '2017',
 '2003',
 '2012',
 '2003',
 '2014',
 '2013',
 '2007',
 '2016',
 '2004',
 '2010',
 '2006',
 '2021',
 '2018',
 '2019',
 '2017',
 '2001',
 '2011',
 '2012',
 '2015',
 '1987',
 '2018',
 '2021',
 '1978',
 '2014',
 '2016',
 '2011',
 '2012',
 '2015',
 '2004',
 '2008',
 '2008',
 '2014',
 '2004',
 '2007',
 '2013',
 '2001',
 '2004',
 '2016',
 '2008',
 '2011',
 '2012',
 '2019',
 '2008',
 '2000',
 '2014',
 '2018',
 '1994',
 '1993',
 '2019',
 '2016',
 '2017',
 '2020',
 '2008',
 '1998',
 '2015',
 '2013',
 '1990',
 '2005',
 '2021']

In [1128]:
len(yor)

250

In [1129]:
rating=[]
for i in soup.find_all('td',class_='ratingColumn imdbRating'):
    rating.append(i.text.replace("\n",""))

In [1130]:
rating

['8.7',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6']

In [1131]:
len(rating)

250

In [1132]:
Imdb_top100_indian=pd.DataFrame({
    'Movie_name':title[:100],
    "Ratings":rating[:100],
    "Year_ofReleased":yor[:100]
})

In [1133]:
Imdb_top100_indian

                Movie_name Ratings Year_ofReleased
0                  JaiBhim     8.7            2021
1                  Nayakan     8.5            1987
2         PariyerumPerumal     8.5            2018
3                AnbeSivam     8.5            2003
4              SardarUdham     8.5            2021
5         C/oKancharapalem     8.5            2018
6                 Kireedam     8.5            1989
7         Manichitrathazhu     8.5            1993
8                  Golmaal     8.5            1979
9               ApurSansar     8.5            1959
10               Natsamrat     8.4            2016
11             ThevarMagan     8.4            1992
12        KumbalangiNights     8.4            2019
13             BlackFriday     8.4            2004
14                      96     8.4            2018
15          PatherPanchali     8.4            1955
16                   #Home     8.4            2021
17          SooraraiPottru     8.4            2020
18              Visaaranai     8.4            2015
19                  Jersey     8.4            2019
20                 3Idiots     8.4            2009
21                  Asuran     8.3            2019
22          TaareZameenPar     8.3            2007
23                  Kaithi     8.3            2019
24              Thalapathi     8.3            1991
25      SarpattaParambarai     8.3            2021
26               Drishyam2     8.3            2021
27               Devasuram     8.3            1993
28                  Dangal     8.3            2016
29                 Peranbu     8.3            2018
..                     ...     ...             ...
70        BhaagMilkhaBhaag     8.1            2013
71  MaheshintePrathikaaram     8.1            2016
72               HeraPheri     8.1            2000
73                  Sholay     8.1            1975
74  TheeranAdhigaaramOndru     8.1            2017
75     Swades:We,thePeople     8.1            2004
76              UstadHotel     8.1            2012
77            ChakDe!India     8.1            2007
78                  Talvar     8.1            2015
79           Mughal-E-Azam     8.1            1960
80              Chhichhore     8.1            2019
81                   Black     8.1            2005
82     JoJeetaWohiSikandar     8.1            1992
83   ZindagiNaMilegiDobara     8.1            2011
84                  Baasha     8.1            1995
85               Charulata     8.1            1964
86        NilBatteySannata     8.1            2015
87               Article15     8.1            2019
88               Virumandi     8.1            2004
89                Drishyam     8.1            2015
90                   Udaan     8.1            2010
91              AWednesday     8.1            2008
92            AlaiPayuthey     8.1            2000
93                  Masaan     8.1            2015
94           MunnaBhaiMBBS     8.1            2003
95               Sarfarosh     8.1            1999
96                   Queen     8.1            2013
97                    Roja     8.1            1992
98            DilChahtaHai     8.1            2001
99           0OMG:OhMyGod!     8.1            2012

[100 rows x 3 columns]

In [1134]:
Imdb_top100_indian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
Movie_name         100 non-null object
Ratings            100 non-null object
Year_ofReleased    100 non-null object
dtypes: object(3)
memory usage: 2.4+ KB

#### 4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

#### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [1135]:
url=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup=BeautifulSoup(url.text,'html.parser')
teams=[]
for i in soup.find_all('td',class_='rankings-block__banner--team-name'):
    teams.append(i.text.split("\n")[-2])

In [1136]:
for i in soup.find_all('td',class_='table-body__cell rankings-table__team'):
    teams.append(i.text.split("\n")[-2])

In [1137]:
for i in soup.find_all('span',class_='u-hide-phablet'):
    teams.append(i.text)

In [1138]:
teams=teams[:10]
teams

['NZ', 'ENG', 'AUS', 'IND', 'SA', 'PAK', 'BAN', 'WI', 'SL', 'AFG']

In [1139]:
mat=soup.find('td',class_="rankings-block__banner--matches").text

In [1140]:

mat

'17'

In [1141]:
matches=[]
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    matches.append(i.text)

In [1142]:
played=matches[::2]
played.insert(0,mat)

In [1143]:
played=played[:10]
played

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

In [1144]:
pt=soup.find('td',class_="rankings-block__banner--points").text
pt

'2,054'

In [1145]:
points=matches[1::2]
points.insert(0,pt)
points=points[:10]
points

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [1146]:
ratings=[]
for i in soup.find_all('td', class_="rankings-block__banner--rating u-text-right"):
                       ratings.append(i.text.replace("\n","").replace(" ",""))

In [1147]:
ratings

['121']

In [1148]:
for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.text.replace(" ","").replace("\n",""))

In [1149]:
ratings=ratings[:10]
ratings

['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [1150]:
odiTeams=pd.DataFrame({"Team":teams,"Matches":played,"Points":points,"Ratings":ratings})
odiTeams

  Team Matches Points Ratings
0   NZ      17  2,054     121
1  ENG      32  3,793     119
2  AUS      28  3,244     116
3  IND      32  3,624     113
4   SA      25  2,459      98
5  PAK      27  2,524      93
6  BAN      30  2,740      91
7   WI      30  2,523      84
8   SL      32  2,657      83
9  AFG      17  1,054      62

#### b) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [1151]:
url=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
soup=BeautifulSoup(url.text,'html.parser')
p=[]
for i in soup.find_all("div",class_="rankings-block__banner--name"):
    p.append(i.text)

player=[]
player.append(p[0])

for i in  soup.find_all('td',class_="table-body__cell name"):
    player.append(i.text.replace("\n",""))

player

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mohammad Nabi',
 'Chris Woakes',
 'Rashid Khan',
 'Mitchell Santner',
 'Ben Stokes',
 'Colin de Grandhomme',
 'Imad Wasim',
 'Ravindra Jadeja',
 'Sikandar Raza',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mohammad Nabi',
 'Chris Woakes',
 'Rashid Khan',
 'Mitchell Santner',
 'Ben Stokes',
 'Colin de Grandhomme',
 'Imad Wasim',
 'Ravindra Jadeja',
 'Sikandar Raza']

In [1152]:
ctry=soup.find("div",class_="rankings-block__banner--nationality")
team=[]
team.append(ctry.text.replace("\n",""))

for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text.replace("\n",""))

team

['PAK',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'WI',
 'NZ',
 'SA',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'AFG',
 'ENG',
 'AFG',
 'NZ',
 'ENG',
 'NZ',
 'PAK',
 'IND',
 'ZIM',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'WI',
 'NZ',
 'SA',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'AFG',
 'ENG',
 'AFG',
 'NZ',
 'ENG',
 'NZ',
 'PAK',
 'IND',
 'ZIM']

In [1153]:
r=soup.find("div",class_="rankings-block__banner--rating").text


rating=[]
rating.append(r)


for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text)

rating

['873',
 '844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '754',
 '747',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646',
 '294',
 '282',
 '270',
 '268',
 '266',
 '257',
 '256',
 '238',
 '229',
 '844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '754',
 '747',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646',
 '294',
 '282',
 '270',
 '268',
 '266',
 '257',
 '256',
 '238',
 '229']

In [1154]:
odiTopBatsmen=pd.DataFrame({
    'Player':player[:10],
    'Team':team[:10],
    'Rating':rating[:10]
})

In [1155]:
odiTopBatsmen

            Player Team Rating
0       Babar Azam  PAK    873
1      Virat Kohli  IND    844
2     Rohit Sharma  IND    813
3      Ross Taylor   NZ    801
4      Aaron Finch  AUS    779
5   Jonny Bairstow  ENG    775
6     David Warner  AUS    762
7        Shai Hope   WI    758
8  Kane Williamson   NZ    754
9  Quinton de Kock   SA    747

#### c) Top 10 ODI bowlers along with the records of their team and rating.

In [1156]:
url=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
soup=BeautifulSoup(url.text,'html.parser')
pl=[]
[pl.append(i.text) for i in soup.find_all('div',class_='rankings-block__banner--name')]
pl[1]

'Trent Boult'

In [1157]:
player=[]
for i in soup.find_all('td',class_='table-body__cell name'):
    player.append(i.text.replace("\n",""))

In [1158]:
player=player[9:18]

In [1159]:
player.insert(0,pl[1])

In [1160]:
player

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [1161]:
ct=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    ct.append(i.text.replace('\n',""))

ct[1] 

country=[]
for i in soup.find_all('span',class_='table-body__logo-text'):
    country.append(i.text.replace("\n",""))
country=country[9:18]
country.insert(0,ct[1])

country

['NZ', 'AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

In [1162]:
rt=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    rt.append(i.text.replace("\n",""))
rt[1]

'737'

In [1163]:
rating=[]
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text.replace("\n",""))
rating=rating[9:18]
rating.insert(0,rt[1])

odiTopBowler=pd.DataFrame({
    "Player":player,
    "Team":country,
    "rating":rating
})

In [1164]:
odiTopBowler

             Player Team rating
0       Trent Boult   NZ    737
1    Josh Hazlewood  AUS    709
2  Mujeeb Ur Rahman  AFG    708
3      Chris Woakes  ENG    700
4      Mehedi Hasan  BAN    692
5        Matt Henry   NZ    691
6    Jasprit Bumrah  IND    679
7    Mitchell Starc  AUS    652
8   Shakib Al Hasan  BAN    650
9     Kagiso Rabada   SA    646

#### 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

#### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [1165]:
url=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(url.text,"html.parser")

team=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)

team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland',
 '',
 '',
 '',
 '',
 '']

In [1166]:
mt=soup.find('td',class_='rankings-block__banner--matches').text

mt

'21'

In [1167]:
matches=[]
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    matches.append(i.text)
mts=matches[::2]
mts.insert(0,mt)
mts

['21', '25', '29', '26', '26', '22', '20', '5', '11', '2']

In [1168]:
pt=soup.find('td',class_='rankings-block__banner--points').text
pt

'3,379'

In [1169]:
pts=matches[1::2]
pts.insert(0,pt)
pts

['3,379',
 '2,983',
 '3,390',
 '2,934',
 '2,392',
 '1,872',
 '1,496',
 '306',
 '519',
 '25']

In [1170]:
rt=soup.find('td',class_='rankings-block__banner--rating u-text-right').text.replace("\n","").replace(" ","")
rt

'161'

In [1171]:
rts=[]
rts.append(rt)
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rts.append(i.text.replace("\n","").replace(" ",""))
rts

['161', '119', '117', '113', '92', '85', '75', '61', '47', '13']

In [1172]:
odiWTeam=pd.DataFrame({
    'Teams':team[:10],
    "Matches":mts,
    "Points":pts,
    "Ratings":rts
})

In [1173]:
odiWTeam

          Teams Matches Points Ratings
0     Australia      21  3,379     161
1       England      25  2,983     119
2  South Africa      29  3,390     117
3         India      26  2,934     113
4   New Zealand      26  2,392      92
5   West Indies      22  1,872      85
6      Pakistan      20  1,496      75
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13

#### b) Top 10 women’s ODI players along with the records of their team and rating.

In [1174]:
url=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup=BeautifulSoup(url.text,'html.parser')
pl=[]
for i in soup.find_all("div",class_='rankings-block__banner--name'):
    pl.append(i.text)
pl

['Lizelle Lee', 'Jess Jonassen', 'Marizanne Kapp']

In [1175]:
pls=[]
for i in soup.find_all("td",class_="table-body__cell name"):
    pls.append(i.text.replace("\n",""))
player=pls[:9]
player.insert(0,pl[0])
player

['Lizelle Lee',
 'Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Heather Knight',
 'Laura Wolvaardt']

In [1176]:
ct=[]
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    ct.append(i.text.replace("\n",""))
ct[0]

'SA'

In [1177]:
pt=[]
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    pt.append(i.text.replace("\n",""))
pt[0]

'761'

In [1178]:
cts=[]
for i in soup.find_all("span",class_="table-body__logo-text"):
    cts.append(i.text.replace("\n",""))
cts
country=cts[:9]
country.insert(0,ct[0])
country

['SA', 'AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'ENG', 'SA']

In [1179]:
pts=[]
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    pts.append(i.text.replace("\n",""))
pts
rating=pts[:9]
rating.insert(0,pt[0])
rating

['761', '750', '738', '728', '717', '710', '699', '690', '674', '672']

In [1180]:
odiTop_bat=pd.DataFrame({
    'Player':player,
    "Teams":country,
    "Rating":rating
})

In [1181]:
odiTop_bat

              Player Teams Rating
0        Lizelle Lee    SA    761
1       Alyssa Healy   AUS    750
2        Mithali Raj   IND    738
3     Tammy Beaumont   ENG    728
4  Amy Satterthwaite    NZ    717
5    Smriti Mandhana   IND    710
6        Meg Lanning   AUS    699
7        Beth Mooney   AUS    690
8     Heather Knight   ENG    674
9    Laura Wolvaardt    SA    672

#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [1182]:
url=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup=BeautifulSoup(url.text,'html.parser')
pl=[]
for i in soup.find_all("div",class_="rankings-block__banner--name"):
    pl.append(i.text)

pl1=pl[2]
pl1

'Marizanne Kapp'

In [1183]:
pls=[]
for i in soup.find_all('td',class_='table-body__cell name'):
    pls.append(i.text.replace("\n",""))
players=pls[18:]
players.insert(0,pl1)
players

['Marizanne Kapp',
 'Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Katherine Brunt',
 'Hayley Matthews']

In [1184]:
ct=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    ct.append(i.text.replace("\n",""))
ct1=ct[2]
ct1

'SA'

In [1185]:
country=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    country.append(i.text)
country1=country[18:]
country1.insert(0,ct1)
country1

['SA', 'ENG', 'AUS', 'WI', 'IND', 'AUS', 'SA', 'AUS', 'ENG', 'WI']

In [1186]:
pt=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    pt.append(i.text)
pt1=pt[2]
pt1

'384'

In [1187]:
point=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    point.append(i.text)
point1=point[18:]
point1

['372', '365', '314', '299', '275', '274', '272', '272', '271']

In [1188]:
point1.insert(0,pt1)
point1

['384', '372', '365', '314', '299', '275', '274', '272', '272', '271']

In [1189]:
all_rounder_W_player=pd.DataFrame({'players':players,"teams":country1,"Points":point1})
all_rounder_W_player

            players teams Points
0    Marizanne Kapp    SA    384
1    Natalie Sciver   ENG    372
2      Ellyse Perry   AUS    365
3   Stafanie Taylor    WI    314
4     Deepti Sharma   IND    299
5  Ashleigh Gardner   AUS    275
6  Dane van Niekerk    SA    274
7     Jess Jonassen   AUS    272
8   Katherine Brunt   ENG    272
9   Hayley Matthews    WI    271

### 6) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post

In [1190]:
url=requests.get("https://coreyms.com/")
soup=BeautifulSoup(url.text,'html.parser')
headings=[]
for i in soup.find_all('h2',class_='entry-title'):
    headings.append(i.text)

In [1191]:
len(headings)

10

In [1192]:
date=[]
for i in soup.find_all('time',class_="entry-time"):
    date.append(i.text)
date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [1193]:
len(date)

10

In [1194]:
content=[]
for i in soup.find_all("div",class_='entry-content'):
    content.append(i.text.replace("\n",''))
content

['In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…',
 'In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…',
 'In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…',
 'In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…',
 'Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube ',
 'In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…VSCode on MacOS – https://youtu.be/06I63_p-2A4Timestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…VSCode on Windows – https://youtu.be/-nh9rCzPJ20Timestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 ',
 'In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…']

In [1195]:
len(content)

10

In [1196]:
link=[]
for i in soup.find_all("iframe",class_='youtube-player'):
    link.append(i['src'])
link

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

In [1197]:
link.insert(4,None)

In [1198]:
len(link)

10

In [1199]:
CoreyMS=pd.DataFrame({
    "Heading":headings,
    "date":date,
    "Content":content,
    "Video_link":link
})

In [1200]:
CoreyMS

,Heading,date,Content,Video_link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,None
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/06I63_p-2A4?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/_JGmemuINww?vers...

#### 7) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from nobroker.in.

In [1201]:
url=requests.get("https://www.nobroker.in/property/sale/gurgaon/Sector%2022?searchParam=W3sibGF0IjoyOC41MDcyNDEsImxvbiI6NzcuMDY0MDQ4NTk5OTk5OTksInBsYWNlSWQiOiJDaElKVDYzQlFub1pEVGtSZEFzSlBmamVkRzQiLCJwbGFjZU5hbWUiOiJTZWN0b3IgMjIifV0=&radius=2.0&city=gurgaon&locality=Sector%2022")
soup=BeautifulSoup(url.text,'html.parser')
houseTitle=[]
for i in soup.find_all("h2",class_="heading-6 font-semi-bold nb__25Cl7"):
    houseTitle.append(i.text)
houseTitle

['4 BHK Flat  For Sale  In Ambience Creacions In Sector-22 ',
 '3 BHK Flat  For Sale  In Ambience Creacions In Sector-22 ',
 '2 BHK Flat  For Sale  In Ambience Creacions In Sector-22 Gurgaon ',
 '3 BHK Apartment  For Sale  In Ambience Creacions In Sector-22 ',
 '3 BHK Apartment  For Sale  In Ambience Creacions In Sector-22 ',
 '2 BHK Apartment  For Sale  In Ambience Creacions In Sector-22 ',
 '2 BHK Apartment  For Sale  In Ambience Creacions In Sector-22 ',
 '3 BHK Apartment  For Sale  In Ambience Creacions In Sector-22 ',
 '2 BHK Apartment  For Sale  In Ambience Creacions In Sector-22 ',
 '4+ BHK In Independent House  For Sale  In Sector 22 ',
 '2 BHK Apartment  For Sale  In Ambience Creacions In Sector-22 ',
 '3 BHK Apartment  For Sale  In Ambience Creacions In Sector-22 ',
 '4+ BHK In Independent House  For Sale  In Sector 22 ']

In [1202]:
location=[]
for i in soup.find_all("div",class_="nb__1EwQz"):
    location.append(i.text)
location

['Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Ambience Creacions , 1, Rao Gajraj Singh Marg, Sector 22A',
 'Ambience CreacionsÂ\xa0 Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Ambience CreacionsÂ\xa0 Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Ambience CreacionsÂ\xa0 Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Ambience CreacionsÂ\xa0 Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Ambience CreacionsÂ\xa0 Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Ambience CreacionsÂ\xa0 Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Independent House, Service Rd, Sector 22A,Near Police Mess',
 'Ambience CreacionsÂ\xa0 Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Ambience CreacionsÂ\xa0 Sector-22, Old Gurgaon - Delhi Road Gurgaon, Haryana, INDIA. ',
 'Independent House, Sector 22B near Community Center']

In [1203]:
area=[]
for i in soup.find_all("div",class_="nb__FfHqA"):
    area.append(i.text)
area

['2,584 sqft',
 '1,807 sqft',
 '1,200 sqft',
 '1,860 sqft',
 '2,000 sqft',
 '1,380 sqft',
 '1,380 sqft',
 '3,090 sqft',
 '1,000 sqft',
 '5,000 sqft',
 '1,380 sqft',
 '3,090 sqft',
 '2,600 sqft']

In [1204]:
emi=[]
for i in soup.find_all("div",class_="font-semi-bold heading-6"):
    emi.append(i.text.replace("â\x82¹",""))
emis=emi[1::3]
emis

['2.49 Lacs/Month',
 '1.81 Lacs/Month',
 '97,434/Month',
 '1.15 Lacs/Month',
 '1.6 Lacs/Month',
 '97,434/Month',
 '83,106/Month',
 '1.89 Lacs/Month',
 '85,971/Month',
 '2.15 Lacs/Month',
 '92,849/Month',
 '1.83 Lacs/Month',
 '1.72 Lacs/Month']

In [1205]:
price=emi[2::3]
price

['4.35 Crores',
 '3.15 Crores',
 '1.7 Crores',
 '2 Crores',
 '2.8 Crores',
 '1.7 Crores',
 '1.45 Crores',
 '3.3 Crores',
 '1.5 Crores',
 '3.75 Crores',
 '1.62 Crores',
 '3.2 Crores',
 '3 Crores']

In [1206]:
nobroker_data=pd.DataFrame({
    "HouseTitle":houseTitle,
    "Location":location,
    "Area":area,
    "EMI":emis,
    "Price":price
})
nobroker_data

,HouseTitle,Location,Area,EMI,Price
0,4 BHK Flat For Sale In Ambience Creacions In...,"Sector-22, Old Gurgaon - Delhi Road Gurgaon, H...","2,584 sqft",2.49 Lacs/Month,4.35 Crores
1,3 BHK Flat For Sale In Ambience Creacions In...,"Sector-22, Old Gurgaon - Delhi Road Gurgaon, H...","1,807 sqft",1.81 Lacs/Month,3.15 Crores
2,2 BHK Flat For Sale In Ambience Creacions In...,"Ambience Creacions , 1, Rao Gajraj Singh Marg,...","1,200 sqft","97,434/Month",1.7 Crores
3,3 BHK Apartment For Sale In Ambience Creacio...,"Ambience CreacionsÂ Sector-22, Old Gurgaon - ...","1,860 sqft",1.15 Lacs/Month,2 Crores
4,3 BHK Apartment For Sale In Ambience Creacio...,"Ambience CreacionsÂ Sector-22, Old Gurgaon - ...","2,000 sqft",1.6 Lacs/Month,2.8 Crores
5,2 BHK Apartment For Sale In Ambience Creacio...,"Ambience CreacionsÂ Sector-22, Old Gurgaon - ...","1,380 sqft","97,434/Month",1.7 Crores
6,2 BHK Apartment For Sale In Ambience Creacio...,"Ambience CreacionsÂ Sector-22, Old Gurgaon - ...","1,380 sqft","83,106/Month",1.45 Crores
7,3 BHK Apartment For Sale In Ambience Creacio...,"Ambience CreacionsÂ Sector-22, Old Gurgaon - ...","3,090 sqft",1.89 Lacs/Month,3.3 Crores
8,2 BHK Apartment For Sale In Ambience Creacio...,"Ambience CreacionsÂ Sector-22, Old Gurgaon - ...","1,000 sqft","85,971/Month",1.5 Crores
9,4+ BHK In Independent House For Sale In Sect...,"Independent House, Service Rd, Sector 22A,Near...","5,000 sqft",2.15 Lacs/Month,3.75 Crores
10,2 BHK Apartment For Sale In Ambience Creacio...,"Ambience CreacionsÂ Sector-22, Old Gurgaon - ...","1,380 sqft","92,849/Month",1.62 Crores
11,3 BHK Apartment For Sale In Ambience Creacio...,"Ambience CreacionsÂ Sector-22, Old Gurgaon - ...","3,090 sqft",1.83 Lacs/Month,3.2 Crores
12,4+ BHK In Independent House For Sale In Sect...,"Independent House, Sector 22B near Community C...","2,600 sqft",1.72 Lacs/Month,3 Crores

#### 8) Write a python program to scrape mentioned details from dineout.co.in : i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL

In [1207]:
url=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup=BeautifulSoup(url.text,"html.parser")
title=[]
for i in soup.find_all("div",class_="restnt-info cursor"):
    title.append(i.text)
title

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [1208]:
loc=[]
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    loc.append(i.text)
loc

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [1209]:
p_c=[]
for i in soup.find_all("span",class_="double-line-ellipsis"):
    p_c.append(i.text.split("|"))
price=[]
for i in range(len(p_c)):
    price.append(p_c[i][0])
price

['₹ 2,000 for 2 (approx) ',
 '₹ 1,400 for 2 (approx) ',
 '₹ 2,000 for 2 (approx) ',
 '₹ 3,000 for 2 (approx) ',
 '₹ 1,800 for 2 (approx) ',
 '₹ 2,400 for 2 (approx) ',
 '₹ 1,500 for 2 (approx) ',
 '₹ 1,600 for 2 (approx) ',
 '₹ 900 for 2 (approx) ',
 '₹ 2,200 for 2 (approx) ',
 '₹ 800 for 2 (approx) ',
 '₹ 1,500 for 2 (approx) ',
 '₹ 3,400 for 2 (approx) ']

In [1210]:
cuisine=[]
for i in range(len(p_c)):
    cuisine.append(p_c[i][1])
cuisine

[' Chinese, North Indian',
 ' North Indian, Barbecue, Italian, Asian',
 ' North Indian, Chinese',
 ' Multi-Cuisine, North Indian, Italian, Continental, Mediterranean',
 ' Barbecue, Chinese, Mughlai, North Indian',
 ' North Indian, Italian, Oriental ',
 ' Barbecue, North Indian',
 ' North Indian, Chinese, Fast Food',
 ' North Indian, Chinese, Continental',
 ' North Indian, Mughlai, Barbecue',
 ' North Indian, Mughlai',
 ' North Indian, Chinese, Barbecue',
 ' Multi-Cuisine, Asian, European, Italian, North Indian']

In [1211]:
rt=[]
for i in soup.find_all("div",class_="restnt-rating rating-4"):
        rt.append(i.text)
rt

['3.5',
 '3.9',
 '4',
 '4.3',
 '4.1',
 '3.9',
 '3.6',
 '3.9',
 '4.3',
 '4.3',
 '3.9',
 '4.2',
 '4.1']

In [1212]:
imgUrl=[]
for i in soup.find_all('img',class_='no-img'):
    imgUrl.append(i['data-src'])

In [1213]:
imgUrl

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

In [1214]:
dineout=pd.DataFrame({"Restaurant name":title,
                     "Cuisine":cuisine,
                     'Location':loc,
                     'ratings':rt,
                     " Image URL":imgUrl})

In [1215]:
dineout

,Restaurant name,Cuisine,Location,ratings,Image URL
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","North Indian, Barbecue, Italian, Asian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","North Indian, Chinese","Pacific Mall,Tagore Garden, West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Multi-Cuisine, North Indian, Italian, Contine...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Barbecue, Chinese, Mughlai, North Indian","Gardens Galleria,Sector 38A, Noida",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian, Oriental","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"North Indian, Chinese, Fast Food","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","North Indian, Chinese, Continental","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai, Barbecue","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","North Indian, Mughlai","Sector 29, Faridabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","North Indian, Chinese, Barbecue","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"Multi-Cuisine, Asian, European, Italian, Nort...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

#### 9) Write a python program to scrape weather details for last 24 hours from Tutiempo.net : i) Hour ii) Temperature iii) Wind iv) Weather condition         v) Humidity vi) Pressure

In [1216]:
url=requests.get("https://en.tutiempo.net/delhi.html?data=last-24-hours")
soup=BeautifulSoup(url.text,"html.parser")
hour=[]
for i in soup.find_all("div",class_="last24 thh"):
    hour.append(i.text.replace("Data New Delhi / Palam Climate.IcoTiempo {width:35px;}TodayHourWeather conditionWCTem.WindHum.Pressure","").replace("YesterdayHourWeather conditionWCTem.WindHum.Pressure","").split("hPa"))

In [1217]:
weather=hour[0]
weather

['14:30Mist26°C7 km/h32%1013 ',
 '14:00Mist26°C7 km/h32%1013 ',
 '13:30Mist26°C7 km/h37%1014 ',
 '12:30Mist25°C6 km/h41%1015 ',
 '12:00Mist24°C7 km/h44%1015 ',
 '11:30Mist23°C7 km/h47%1015 ',
 '11:00Widespread Fog21°C6 km/h53%1016 ',
 '10:30Widespread Fog19°CCalm60%1016 ',
 '10:00Widespread Fog17°CCalm63%1016 ',
 '09:30Widespread Fog16°CCalm68%1016 ',
 '09:00Mist15°C6 km/h77%1015 ',
 '08:30Mist14°C6 km/h82%1015 ',
 '08:00Mist14°C6 km/h82%1014 ',
 '07:30Mist13°CCalm82%1014 ',
 '07:00Mist13°C6 km/h82%1013 ',
 '06:30Mist13°CCalm82%1013 ',
 '06:00Mist13°CCalm82%1013 ',
 '05:30Mist13°CCalm82%1013 ',
 '05:00Mist14°CCalm77%1012 ',
 '04:30Mist14°CCalm77%1012 ',
 '04:00Mist14°C6 km/h72%1012 ',
 '03:30Mist14°CCalm72%1012 ',
 '03:00Mist15°CCalm72%1012 ',
 '02:30Mist15°CCalm72%1012 ',
 '02:00Mist15°CCalm72%1013 ',
 '01:30Mist16°CCalm68%1013 ',
 '01:00Mist16°CCalm68%1013 ',
 '00:30Mist16°CCalm68%1013 ',
 '00:00Mist17°CCalm63%1013 ',
 '23:30Mist17°CCalm63%1014 ',
 '23:00Mist17°CCalm63%1014 ',
 '22:30Mist17°CCalm63%1014 ',
 '22:00Mist18°CCalm56%1014 ',
 '21:30Mist18°CCalm56%1014 ',
 '21:00Mist18°CCalm56%1014 ',
 '20:30Mist19°CCalm52%1013 ',
 '20:00Mist19°CCalm49%1013 ',
 '19:30Mist20°CCalm46%1013 ',
 '19:00Mist20°CCalm46%1012 ',
 '18:30Mist21°CCalm43%1012 ',
 '18:00Mist22°CCalm38%1012 ',
 '17:30Mist23°CCalm36%1012 ',
 '17:00Mist24°C7 km/h34%1011 ',
 '16:30Mist24°C9 km/h34%1011 ',
 '16:00Mist24°C11 km/h34%1011 ',
 '15:30Mist25°C13 km/h32%1011 ',
 '15:00Mist25°C13 km/h34%1011 ',
 '14:30Mist24°C13 km/h36%1012 ',
 '14:00Mist24°C15 km/h36%1012 ',
 '']

In [1218]:
hours=[]
for i in range(len(weather)):
    hours.append(weather[i][:5])

In [1219]:
len(hours)

50

In [1220]:
temp=[]
for i in soup.find_all('td',class_="t Temp"):
    temp.append(i.text)

In [1221]:
len(temp)

49

In [1222]:
wind=[]
for i in soup.find_all('td',class_="wind"):
    wind.append(i.text)

In [1223]:
len(wind)

49

In [1224]:
hum=[]
for i in soup.find_all('td',class_="hr"):
    hum.append(i.text)

In [1225]:
len(hum)

49

In [1226]:
p=[]
for i in soup.find_all('td',class_="prob"):
    p.append(i.text)

In [1227]:
len(p)

49

In [1228]:
wc=[]
for i in range(len(weather)):
    wc.append(weather[i][5:19].replace("°C","").replace("km/h","").replace("Calm","").replace("km/",""))

In [1229]:
wc

['Mist267 ',
 'Mist267 ',
 'Mist267 ',
 'Mist256 ',
 'Mist247 ',
 'Mist237 ',
 'Widespread Fog',
 'Widespread Fog',
 'Widespread Fog',
 'Widespread Fog',
 'Mist156 ',
 'Mist146 ',
 'Mist146 ',
 'Mist1382',
 'Mist136 ',
 'Mist1382',
 'Mist1382',
 'Mist1382',
 'Mist1477',
 'Mist1477',
 'Mist146 ',
 'Mist1472',
 'Mist1572',
 'Mist1572',
 'Mist1572',
 'Mist1668',
 'Mist1668',
 'Mist1668',
 'Mist1763',
 'Mist1763',
 'Mist1763',
 'Mist1763',
 'Mist1856',
 'Mist1856',
 'Mist1856',
 'Mist1952',
 'Mist1949',
 'Mist2046',
 'Mist2046',
 'Mist2143',
 'Mist2238',
 'Mist2336',
 'Mist247 ',
 'Mist249 ',
 'Mist2411 ',
 'Mist2513 ',
 'Mist2513 ',
 'Mist2413 ',
 'Mist2415 ',
 '']

In [1230]:
wcs=[]
for i in wc:
    if "Mist" in i:
        i="Mist"
    wcs.append(i)

In [1231]:
wcs

['Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Widespread Fog',
 'Widespread Fog',
 'Widespread Fog',
 'Widespread Fog',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 'Mist',
 '']

In [1232]:
len(wcs)

50

In [1233]:
Weather_24=pd.DataFrame({
    "Time":hours[:49],
    "Temperature":temp,
    "Wind":wind,
    "Weather condition":wcs[:49],
    "Humidity":hum,
    "Pressure":p
    
})

In [1234]:
Weather_24

     Time Temperature     Wind Weather condition Humidity  Pressure
0   14:30        26°C   7 km/h              Mist      32%  1013 hPa
1   14:00        26°C   7 km/h              Mist      32%  1013 hPa
2   13:30        26°C   7 km/h              Mist      37%  1014 hPa
3   12:30        25°C   6 km/h              Mist      41%  1015 hPa
4   12:00        24°C   7 km/h              Mist      44%  1015 hPa
5   11:30        23°C   7 km/h              Mist      47%  1015 hPa
6   11:00        21°C   6 km/h    Widespread Fog      53%  1016 hPa
7   10:30        19°C     Calm    Widespread Fog      60%  1016 hPa
8   10:00        17°C     Calm    Widespread Fog      63%  1016 hPa
9   09:30        16°C     Calm    Widespread Fog      68%  1016 hPa
10  09:00        15°C   6 km/h              Mist      77%  1015 hPa
11  08:30        14°C   6 km/h              Mist      82%  1015 hPa
12  08:00        14°C   6 km/h              Mist      82%  1014 hPa
13  07:30        13°C     Calm              Mist      82%  1014 hPa
14  07:00        13°C   6 km/h              Mist      82%  1013 hPa
15  06:30        13°C     Calm              Mist      82%  1013 hPa
16  06:00        13°C     Calm              Mist      82%  1013 hPa
17  05:30        13°C     Calm              Mist      82%  1013 hPa
18  05:00        14°C     Calm              Mist      77%  1012 hPa
19  04:30        14°C     Calm              Mist      77%  1012 hPa
20  04:00        14°C   6 km/h              Mist      72%  1012 hPa
21  03:30        14°C     Calm              Mist      72%  1012 hPa
22  03:00        15°C     Calm              Mist      72%  1012 hPa
23  02:30        15°C     Calm              Mist      72%  1012 hPa
24  02:00        15°C     Calm              Mist      72%  1013 hPa
25  01:30        16°C     Calm              Mist      68%  1013 hPa
26  01:00        16°C     Calm              Mist      68%  1013 hPa
27  00:30        16°C     Calm              Mist      68%  1013 hPa
28  00:00        17°C     Calm              Mist      63%  1013 hPa
29  23:30        17°C     Calm              Mist      63%  1014 hPa
30  23:00        17°C     Calm              Mist      63%  1014 hPa
31  22:30        17°C     Calm              Mist      63%  1014 hPa
32  22:00        18°C     Calm              Mist      56%  1014 hPa
33  21:30        18°C     Calm              Mist      56%  1014 hPa
34  21:00        18°C     Calm              Mist      56%  1014 hPa
35  20:30        19°C     Calm              Mist      52%  1013 hPa
36  20:00        19°C     Calm              Mist      49%  1013 hPa
37  19:30        20°C     Calm              Mist      46%  1013 hPa
38  19:00        20°C     Calm              Mist      46%  1012 hPa
39  18:30        21°C     Calm              Mist      43%  1012 hPa
40  18:00        22°C     Calm              Mist      38%  1012 hPa
41  17:30        23°C     Calm              Mist      36%  1012 hPa
42  17:00        24°C   7 km/h              Mist      34%  1011 hPa
43  16:30        24°C   9 km/h              Mist      34%  1011 hPa
44  16:00        24°C  11 km/h              Mist      34%  1011 hPa
45  15:30        25°C  13 km/h              Mist      32%  1011 hPa
46  15:00        25°C  13 km/h              Mist      34%  1011 hPa
47  14:30        24°C  13 km/h              Mist      36%  1012 hPa
48  14:00        24°C  15 km/h              Mist      36%  1012 hPa

#### 10) Write a python program to scrape monument name, monument description, image URL about top 10 monuments from puredestinations.co.uk.

In [1235]:
url=requests.get("https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/")
soup=BeautifulSoup(url.text,'html.parser')
m_name=[]
for i in soup.find_all('div',class_='blog--single__content column--3-4 u-spacing-third'):
    m_name.append(i.text.split('\n'))
m_name

[['',
  'Top 10 Famous Monuments to Visit In India',
  'Rich in culture and diversity, India is home to some of the finest historical monuments in the world. Most recognised by the UNESCO World Heritage Site, the famous Indian monuments include the beautiful Taj Mahal, the sacred Golden Temple and the cultural site, Hawa Mahal. Discover and experience the magnificent insights into India’s rich heritage and ancient architecture. Read on for our list of the top must see historical monuments in India below.',
  'Taj Mahal, Agra',
  'Enlisted in the Seven Wonders of the World, The Taj Mahal is one of the most beautiful and famous buildings located in the city of Agra. This white marble monument was built by a Mughal Emperor called Shahajahan in memory of his beloved wife. Due to its amazing architecture and the history behind it, this world heritage site has become very popular to visit by all travellers and romantics from all over the world.',
  '',
  'Golden Temple (Harmandir Sahib), Amritsar ',
  'The holiest shrine and pilgrimage place located in Amritsar is The Golden Temple known as the Harmandir Sahib. This is the most famous and sacred Sikh Gurdwara in Punjab, India, adorned with rich history and gold gilded exterior. If you are interested in culture and history, be sure to visit this popular attraction in India.',
  '',
  'Meenakshi Temple, Madurai',
  'Meenakshi Temple is situated on the Southern banks of Vaigai River in the temple city Madurai. This temple is dedicated to Parvati and her consort, Shiva and is visited by most Hindu and Tamil devotees and architectural lovers throughout the world. It is believed that this shrine houses 33,000 sculptures in its 14 gopurams. It’s no doubt one place to visit if you are impressed with art and cultural history.',
  '',
  'Mysore Palace, Mysore',
  'The Mysore Palace is a famous historical monument in the city of Mysore in Karnataka. Commonly described as the City of Palaces, this is the most famous tourist attraction in India after the Taj Mahal. It is a sight not be missed with its spacious halls, lovely art paintings and Indo-Saracenic style architecture. Best time to visit is at night due to the astonishing illuminated lights covering the whole monument.',
  '',
  'Gateway of India, Mumbai',
  'Even though Mumbai is famous for its Bollywood actors and movies, the most famous attraction in Mumbai is The Gateway of India. It is a popular gathering spot for locals, travellers, street vendors and photographers and is known as the Taj Mahal of Mumbai. The majestic monument was built to commemorate the visit of King George V and Queen Mary to Bombay. With so much fun and excitement this place is not to be missed with family or on your tour of India.',
  '',
  'Red Fort, New Delhi',
  'Declared as the UNESCO’s World Heritage Site, Red Fort is located in the centre of beautiful Delhi. If you love learning about history and culture then this famous historic monument is a must see place to visit. Built by the Mughal Emperor, Shah Jahan in 1648, and housing a number of museums, its walls are built of red sandstone. The best time to visit is on Independence Day where the Prime Minister of India hoists the national flag at the Red Fort. End the day by heading to an Indian restaurant and enjoy the varieties of wonderful cuisines.',
  '',
  'Hawa Mahal, Jaipur',
  'Explore a blend of beauty and Rajasthan culture, the Hawa Mahal also known as Palace of Winds is situated in the capital of Rajasthan, Jaipur. Built from red and pink sandstones by the Maharaja Sawi Pratap Singh in 1799, this unique five storey structure is one of the most prominent tourist attractions in the Jaipur city.',
  '',
  'Qutub Minar, New Delhi',
  'Discover one of the tallest towers in the world and the second tallest Minar of India standing elegantly in the Capital city, New Delhi. Standing at 72.5 metres and consisting of around 379 stairs, this famous monument represents the rich architecture of India. As it is a UNESCO World Heritage Site made of red sandstone and decorated with Arabic and Brahmi inscriptions, travellers from around the world come to view this most famous tower in India.',
  '',
  'Sanchi Stupa, Sanchi',
  'The beautiful and massive dome, Sanchi Stupa also known as the Great Stupa is a world renowned Buddhist monument in Sanchi, India. It was constructed by Emperor Ashoka, and is one of the oldest stone structures in the heart of India. Experience the Indian culture by visiting these major attractions in Sanchi including a number of Buddhist Stupas, monasteries and temples.',
  '',
  'Charminar, Hyderabad',
  'No visit to Hyderabad should be complete without visiting the most famous and majestic monument known as the Charminar. This magnificent and striking mosque constructed in 1591 has four minarets and is the most recognisable symbol in the city of Hyderabad.',
  '',
  'Things to know before planning your trip to India',
  '',
  'When travelling to India it’s important to make sure you are up-to-date with travel requirements including obtaining an India visa.',
  'It takes around 9 hours and 42 minutes to fly to India from the UK.',
  'Bring your credit or debit card, but rely on cash to pay for most things. India’s currency is the Indian Rupee.',
  'The best time to visit India is between October and March.',
  '',
  'Are you inspired to plan an incredible trip to India? Get in touch with Pure Destinations today to speak to a travel expert to plan a tailor made itinerary.\xa0Fancy exploring these famous monuments in India? Why not\xa0contact\xa0us today!',
  '']]

In [1236]:
monument_name=m_name[0][3::3]
monument_name[:10]

['Taj Mahal, Agra',
 'Golden Temple (Harmandir Sahib), Amritsar ',
 'Meenakshi Temple, Madurai',
 'Mysore Palace, Mysore',
 'Gateway of India, Mumbai',
 'Red Fort, New Delhi',
 'Hawa Mahal, Jaipur',
 'Qutub Minar, New Delhi',
 'Sanchi Stupa, Sanchi',
 'Charminar, Hyderabad']

In [1237]:
monument_desc=m_name[0][4::3]
monument_desc[:10]

['Enlisted in the Seven Wonders of the World, The Taj Mahal is one of the most beautiful and famous buildings located in the city of Agra. This white marble monument was built by a Mughal Emperor called Shahajahan in memory of his beloved wife. Due to its amazing architecture and the history behind it, this world heritage site has become very popular to visit by all travellers and romantics from all over the world.',
 'The holiest shrine and pilgrimage place located in Amritsar is The Golden Temple known as the Harmandir Sahib. This is the most famous and sacred Sikh Gurdwara in Punjab, India, adorned with rich history and gold gilded exterior. If you are interested in culture and history, be sure to visit this popular attraction in India.',
 'Meenakshi Temple is situated on the Southern banks of Vaigai River in the temple city Madurai. This temple is dedicated to Parvati and her consort, Shiva and is visited by most Hindu and Tamil devotees and architectural lovers throughout the world. It is believed that this shrine houses 33,000 sculptures in its 14 gopurams. It’s no doubt one place to visit if you are impressed with art and cultural history.',
 'The Mysore Palace is a famous historical monument in the city of Mysore in Karnataka. Commonly described as the City of Palaces, this is the most famous tourist attraction in India after the Taj Mahal. It is a sight not be missed with its spacious halls, lovely art paintings and Indo-Saracenic style architecture. Best time to visit is at night due to the astonishing illuminated lights covering the whole monument.',
 'Even though Mumbai is famous for its Bollywood actors and movies, the most famous attraction in Mumbai is The Gateway of India. It is a popular gathering spot for locals, travellers, street vendors and photographers and is known as the Taj Mahal of Mumbai. The majestic monument was built to commemorate the visit of King George V and Queen Mary to Bombay. With so much fun and excitement this place is not to be missed with family or on your tour of India.',
 'Declared as the UNESCO’s World Heritage Site, Red Fort is located in the centre of beautiful Delhi. If you love learning about history and culture then this famous historic monument is a must see place to visit. Built by the Mughal Emperor, Shah Jahan in 1648, and housing a number of museums, its walls are built of red sandstone. The best time to visit is on Independence Day where the Prime Minister of India hoists the national flag at the Red Fort. End the day by heading to an Indian restaurant and enjoy the varieties of wonderful cuisines.',
 'Explore a blend of beauty and Rajasthan culture, the Hawa Mahal also known as Palace of Winds is situated in the capital of Rajasthan, Jaipur. Built from red and pink sandstones by the Maharaja Sawi Pratap Singh in 1799, this unique five storey structure is one of the most prominent tourist attractions in the Jaipur city.',
 'Discover one of the tallest towers in the world and the second tallest Minar of India standing elegantly in the Capital city, New Delhi. Standing at 72.5 metres and consisting of around 379 stairs, this famous monument represents the rich architecture of India. As it is a UNESCO World Heritage Site made of red sandstone and decorated with Arabic and Brahmi inscriptions, travellers from around the world come to view this most famous tower in India.',
 'The beautiful and massive dome, Sanchi Stupa also known as the Great Stupa is a world renowned Buddhist monument in Sanchi, India. It was constructed by Emperor Ashoka, and is one of the oldest stone structures in the heart of India. Experience the Indian culture by visiting these major attractions in Sanchi including a number of Buddhist Stupas, monasteries and temples.',
 'No visit to Hyderabad should be complete without visiting the most famous and majestic monument known as the Charminar. This magnificent and striking mosque constructed in 1591 has four minarets and is the most recognisable symbol in the city of Hyderabad.']

In [1238]:
imgUrl=soup.find('div',class_="blog--single__content column--3-4 u-spacing-third")
print(imgUrl)

<div class="blog--single__content column--3-4 u-spacing-third">
<h3 class="title title--heading">Top 10 Famous Monuments to Visit In India</h3>
<p>Rich in culture and diversity, India is home to some of the finest historical monuments in the world. Most recognised by the UNESCO World Heritage Site, the famous Indian monuments include the beautiful Taj Mahal, the sacred Golden Temple and the cultural site, Hawa Mahal. Discover and experience the magnificent insights into <a href="https://www.puredestinations.co.uk/destinations/asia/india/" rel="noopener" target="_blank">India</a>’s rich heritage and ancient architecture. Read on for our list of the top must see historical monuments in India below.</p>
<p><strong>Taj Mahal, Agra</strong></p>
<p>Enlisted in the Seven Wonders of the World, The Taj Mahal is one of the most beautiful and famous buildings located in the city of Agra. This white marble monument was built by a Mughal Emperor called Shahajahan in memory of his beloved wife. Due to its amazing architecture and the history behind it, this world heritage site has become very popular to visit by all travellers and romantics from all over the world.</p>
<p><img alt="taj-mahal-pd-blog" class="alignnone size-full wp-image-36626 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"><noscript><img alt="taj-mahal-pd-blog" class="alignnone size-full wp-image-36626" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></img></p>
<p><strong>Golden Temple (Harmandir Sahib), Amritsar </strong></p>
<p>The holiest shrine and pilgrimage place located in Amritsar is The Golden Temple known as the Harmandir Sahib. This is the most famous and sacred Sikh Gurdwara in Punjab, <a href="https://www.puredestinations.co.uk/destinations/asia/india/" rel="noopener" target="_blank">India</a>, adorned with rich history and gold gilded exterior. If you are interested in culture and history, be sure to visit this popular attraction in India.</p>
<p><img alt="golden-temple-pd-blog" class="alignnone size-full wp-image-36628 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"><noscript><img alt="golden-temple-pd-blog" class="alignnone size-full wp-image-36628" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></img></p>
<p><strong>Meenakshi Temple, Madurai</strong></p>
<p>Meenakshi Temple is situated on the Southern banks of Vaigai River in the temple city Madurai. This temple is dedicated to Parvati and her consort, Shiva and is visited by most Hindu and Tamil devotees and architectural lovers throughout the world. It is believed that this shrine houses 33,000 sculptures in its 14 gopurams. It’s no doubt one place to visit if you are impressed with art and cultural history.</p>
<p><img alt="meenakshi-temple-pd-blog" class="alignnone size-full wp-image-36630 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"/><noscript><img alt="meenakshi-temple-pd-blog" class="alignnone size-full wp-image-36630" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></p>
<p><strong>Mysore Palace, Mysore</strong></p>
<p>The Mysore Palace is a famous historical monument in the city of Mysore in Karnataka. Commonly described as the City of Palaces, this is the most famous tourist attraction in <a href="https://www.puredestinations.co.uk/destinations/asia/india/" rel="noopener" target="_blank">India</a> after the Taj Mahal. It is a sight not be missed with its spacious halls, lovely art paintings and Indo-Saracenic style architecture. Best time to visit is at night due to the astonishing illuminated lights covering the whole monument.</p>
<p><img alt="mysore-palace-pd-blog" class="alignnone size-full wp-image-36631 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"/><noscript><img alt="mysore-palace-pd-blog" class="alignnone size-full wp-image-36631" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></p>
<p><strong>Gateway of India, Mumbai</strong></p>
<p>Even though Mumbai is famous for its Bollywood actors and movies, the most famous attraction in Mumbai is The Gateway of India. It is a popular gathering spot for locals, travellers, street vendors and photographers and is known as the Taj Mahal of Mumbai. The majestic monument was built to commemorate the visit of King George V and Queen Mary to Bombay. With so much fun and excitement this place is not to be missed with family or on your tour of India.</p>
<p><img alt="gateway-to-india-pd-blog" class="alignnone size-full wp-image-36632 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"/><noscript><img alt="gateway-to-india-pd-blog" class="alignnone size-full wp-image-36632" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></p>
<p><strong>Red Fort, New Delhi</strong></p>
<p>Declared as the UNESCO’s World Heritage Site, Red Fort is located in the centre of beautiful Delhi. If you love learning about history and culture then this famous historic monument is a must see place to visit. Built by the Mughal Emperor, Shah Jahan in 1648, and housing a number of museums, its walls are built of red sandstone. The best time to visit is on Independence Day where the Prime Minister of India hoists the national flag at the Red Fort. End the day by heading to an Indian restaurant and enjoy the varieties of wonderful cuisines.</p>
<p><img alt="red-fort-pd-blog" class="alignnone size-full wp-image-36623 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"/><noscript><img alt="red-fort-pd-blog" class="alignnone size-full wp-image-36623" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></p>
<p><strong>Hawa Mahal, Jaipur</strong></p>
<p>Explore a blend of beauty and Rajasthan culture, the Hawa Mahal also known as Palace of Winds is situated in the capital of Rajasthan, Jaipur. Built from red and pink sandstones by the Maharaja Sawi Pratap Singh in 1799, this unique five storey structure is one of the most prominent tourist attractions in the Jaipur city.</p>
<p><img alt="hawa-mahal-pd-blog" class="alignnone size-full wp-image-36634 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"/><noscript><img alt="hawa-mahal-pd-blog" class="alignnone size-full wp-image-36634" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></p>
<p><strong>Qutub Minar, New Delhi</strong></p>
<p>Discover one of the tallest towers in the world and the second tallest Minar of <a href="https://www.puredestinations.co.uk/destinations/asia/india/" rel="noopener" target="_blank">India</a> standing elegantly in the Capital city, New Delhi. Standing at 72.5 metres and consisting of around 379 stairs, this famous monument represents the rich architecture of India. As it is a UNESCO World Heritage Site made of red sandstone and decorated with Arabic and Brahmi inscriptions, travellers from around the world come to view this most famous tower in India.</p>
<p><img alt="qutub-minar-pd-blog" class="alignnone size-full wp-image-36636 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"/><noscript><img alt="qutub-minar-pd-blog" class="alignnone size-full wp-image-36636" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></p>
<p><strong>Sanchi Stupa, Sanchi</strong></p>
<p>The beautiful and massive dome, Sanchi Stupa also known as the Great Stupa is a world renowned Buddhist monument in Sanchi, India. It was constructed by Emperor Ashoka, and is one of the oldest stone structures in the heart of India. Experience the Indian culture by visiting these major attractions in Sanchi including a number of Buddhist Stupas, monasteries and temples.</p>
<p><img alt="sanchi-stupi-pd-blog" class="alignnone size-full wp-image-36637 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"/><noscript><img alt="sanchi-stupi-pd-blog" class="alignnone size-full wp-image-36637" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG-300x200.jpg 300w" width="800"/></noscript></p>
<p><strong>Charminar, Hyderabad</strong></p>
<p>No visit to Hyderabad should be complete without visiting the most famous and majestic monument known as the Charminar. This magnificent and striking mosque constructed in 1591 has four minarets and is the most recognisable symbol in the city of Hyderabad.</p>
<p><img alt="charminar-pd-blog" class="alignnone size-full wp-image-36646 lazyload" data-src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1.jpg" data-srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1-300x200.jpg 300w" height="533" sizes="(max-width: 800px) 100vw, 800px" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="800"/><noscript><img alt="charminar-pd-blog" class="alignnone size-full wp-image-36646" height="533" sizes="(max-width: 800px) 100vw, 800px" src="http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1.jpg" srcset="https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1.jpg 800w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1-768x512.jpg 768w, https://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1-300x200.jpg 300w" width="800"/></noscript></p>
<p><strong>Things to know before planning your trip to India</strong></p>
<ul>
<li>When travelling to India it’s important to make sure you are up-to-date with travel requirements including obtaining an <a href="https://e-visa.co.uk/india" rel="noopener" target="_blank">India visa</a>.</li>
<li>It takes around 9 hours and 42 minutes to fly to India from the UK.</li>
<li>Bring your credit or debit card, but rely on cash to pay for most things. India’s currency is the Indian Rupee.</li>
<li>The best time to visit India is between October and March.</li>
</ul>
<p>Are you inspired to plan an incredible trip to India? Get in touch with Pure Destinations today to speak to a travel expert to plan a tailor made itinerary. Fancy exploring these famous monuments in <a href="https://www.puredestinations.co.uk/destinations/asia/india/" rel="noopener" target="_blank">India</a>? Why not <a href="http://www.puredestinations.co.uk/contact/?dest=quote" rel="noopener" target="_blank">contact</a> us today!</p>
</div>

In [1239]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36626 lazyload")
i1=imgUrl['data-src']
i1

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG.jpg'

In [1240]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36628 lazyload")
i2=imgUrl['data-src']
i2

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG.jpg'

In [1241]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36630 lazyload")
i3=imgUrl['data-src']
i3

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg'

In [1242]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36631 lazyload")
i31=imgUrl['data-src']
i31

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG.jpg'

In [1243]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36632 lazyload")
i4=imgUrl['data-src']
i4

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG.jpg'

In [1244]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36623 lazyload")
i41=imgUrl['data-src']
i41

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg'

In [1245]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36634 lazyload")
i5=imgUrl['data-src']
i5

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG.jpg'

In [1246]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36636 lazyload")
i6=imgUrl['data-src']
i6

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG.jpg'

In [1247]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36637 lazyload")
i7=imgUrl['data-src']
i7

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg'

In [1248]:
imgUrl=soup.find('img',class_="alignnone size-full wp-image-36646 lazyload")
i8=imgUrl['data-src']
i8

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1.jpg'

In [1249]:

imgUrl=soup.find('img',class_="alignnone size-full wp-image-36630 lazyload")
i8=imgUrl['data-src']
i8

'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg'

In [1250]:
len(monument_desc)

13

In [1251]:
Monument_top10=pd.DataFrame({'Monument name':monument_name[:10],
                            "Content":monument_desc[:10],
                            "Image_url":[i1,i2,i3,i31,i4,i41,i5,i6,i7,i8]})

In [1252]:
Monument_top10

,Monument name,Content,Image_url
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th...",http://www.puredestinations.co.uk/wp-content/u...
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...,http://www.puredestinations.co.uk/wp-content/u...
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...,http://www.puredestinations.co.uk/wp-content/u...
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...,http://www.puredestinations.co.uk/wp-content/u...
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...,http://www.puredestinations.co.uk/wp-content/u...
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ...",http://www.puredestinations.co.uk/wp-content/u...
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...,http://www.puredestinations.co.uk/wp-content/u...
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...,http://www.puredestinations.co.uk/wp-content/u...
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a...",http://www.puredestinations.co.uk/wp-content/u...
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...,http://www.puredestinations.co.uk/wp-content/u...